/* Type Scale https://baseline.is/tools/type-scale-generator/ */
html {font-size: 16px;}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
}

p {
  font-size: 1em;
}
/* Type Scale  1.250 Major Third */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito Sans 900', sans-serif;
  line-height: 1.15;
  font-optical-sizing: auto;
}

h1,
.text-size-h1 {
  font-family: 'Nunito Sans 900', sans-serif;
  margin-top: 43px;
  margin-block-start: 43px;
  font-size: 3.05em;
  font-optical-sizing: auto;
}

h2,
.text-size-h2 {
  margin-top: 29px;
  font-size: 2.44em;
}

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

h6,
.text-size-h5 { font-size: 1em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}

a {
  color: #131313;
}

/* text-formatted rules */
.text-formatted > * + *,
.text-formatted p {
  margin-top: 1.5rem;
}
.text-formatted p {
  line-height: 1.75;
}
.text-formatted h2 {
  margin-top: 29px;
}
.text-formatted h3,
.text-formatted h4,
.text-formatted h5,
.text-formatted h6 {
  margin-top: 1.5rem;
}
