*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
h1 h2 reset to keep rhythm
 */

h1,
h2,
h3,
h4,
h5 {
  /* remove browser default */
  margin-block-start: 0;
  margin-block-end: 0;
}

/*layout-container*/

.layout-container {
  /*display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;*/
  overflow: visible;
  max-width: 1200px;
 /* -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;*/
  position: relative;
  margin: 0 auto 30px;
  padding-right: 15px;
  padding-left: 15px;
}

/* blockquote
 * https://developer.mozilla.org/en-US/docs/Web/CSS/quotes
 * open-quote and close-quote can be used in content
 */
/* Claro bass/elements.css
 * CKEditor blockquote style uses overflow: hidden; so ::before is hidden.
 * Olivero uses \201C in ::before

 * Below is copied from Claro ::before
 */
blockquote {
  max-width: 75ch;
  line-height: 1.5;
}

blockquote::before {
  position: absolute;
  left: 20px; /* -2.5rem; */
  content: open-quote;
  color: var(--color-absolutezero);
  font-family: var(--font-family-serif);
  font-size: 2em; /* var(--space-xl); */
  line-height: 1em;
}
blockquote *:last-child::after {
  position: absolute;
  right: 20px; /* -2.5rem; */
  content: close-quote;
  color: var(--color-absolutezero);
  font-family: var(--font-family-serif);
  font-size: 2em; /* var(--space-xl); */
  line-height: 1em;
}

blockquote *:last-child::after {
  position: relative;
  right: -0.5rem;
  content: close-quote;
  color: var(--color-absolutezero);
  font-family: var(--font-family-serif);
  font-size: 2em;
  line-height: 0;
  top: 1rem;
  bottom: 0;
  height: 1rem;
  display: inline-block;
}
/*
Add in the classes for blockquote and aside.
Audit all the content so correct aside class is added.
Add styles.
Add JS.
 */

.content blockquote {

}
.content blockquote.hint,
.content aside.hint {

}
.content blockquote.warning,
.content aside.warning {

}


/* Table */
table, td, th {
  border: 1px solid #E5E5E5;
  font-size: .85rem;
}

td, th {
  padding: 8px;
  border-width: 0 1px 1px 0;
}

@media only screen and (min-width: 768px) {
  table {
    font-size: 1rem;
  }
}

/* Comments */
section.comment-wrapper {
  max-width: 70ch;
}

/* Secondary Menu */
.region-secondary-menu ul.menu {
  display: flex;
  margin-inline-start: 0;
}
.region-secondary-menu ul.menu li {
  margin: 0;
  /* padding-block: 0.5rem; add a -var for this */
}
.region-secondary-menu ul.menu li:not(:last-child) {
  margin-inline-end: 1.5rem;
}



