@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-variation-settings: "wdth" 100;
}

@font-face {
  font-family: "Nunito Sans 900";
  src: url("../../fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    'wght' 900,
    "wdth" 100,
    "YTLC" 500;
   font-display: swap;
}


