#block-slate-search-form-narrow {
  display: none;
  & .form-item {
    margin: 0;
  }
}
#block-slate-search-form-wide {
  display: none;
}
@media screen and (min-width: 768px) {
  #block-slate-search-form-narrow {
    display: none;
  }
  #block-slate-search-form-wide {
    display: block;
    & .form-item {
      margin: 0;
    }
  }
}

