/**
 * @file
 * Primary & Secondary Menu for Slate
 */

.region-primary-menu ul.menu,
.region-secondary-menu ul.menu {
  display: flex;
  margin-inline-start: 0;
}
.region-secondary-menu ul.menu li {
  margin: 0;
  /* padding-block: 0.5rem; add a -var for this */
}
.region-secondary-menu ul.menu li:not(:last-child) {
  margin-inline-end: 1.5rem;
}
