.field--name-field-tags {
  display: flex;
}

.field--name-field-tags .field__items {
  display: flex;
}

.field--name-field-tags .field__label,
.field--name-field-tags .field__item:not(:last-child) {
  margin-right: 1rem;
}
